body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(16, 16, 26);
    color: black;
    font-family: "Ubuntu", serif;
    overflow-y: auto;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#page {
    margin: 20px;
    display: grid;
    min-height: 100%;
    height: max-content;
    width: 100%;
    grid-template-columns: auto max-content auto;
    grid-template-areas: "a b c";
    grid-column-gap: 20px;
    align-content: center;
}

.main_table td{
    padding: 25px;
    display: inline-flex;
    vertical-align: top;
    /*border: 1px solid red;*/
}

.sub_table {
    display: inline-flex;
    grid-area: b;
    width: 480px;
    padding: 0;
    border-spacing: 0;
}

.sub_table td {
    padding: 0;
    border-spacing: 0;
}

.tab_list {
    grid-area: a;
    width: -moz-fit-content;
    text-align: center;
    justify-self: right;
}

.tab_list_content {
    align-content: center;
    table-layout: auto;
    display: table;
    white-space: pre;
}

.tab_list_content tr td{
    border-spacing: 0;
    padding: 5px;
    display: table-cell;
}

.scoreboard {
    grid-area: c;
    justify-self: left;
    text-align: center;
}

.scoreboard_content {
    display: table;
    white-space: pre;
}

.scoreboard_content tr td {
    border-spacing: 0;
    padding: 5px;
    display: table-cell;
}

h1, a, pre, .content {
    margin: 0;
    color: rgb(228, 228, 228);
}

pre {
    font-family: "Ubuntu Mono", monospace;
}

.content {
    width: 480px;
}

.password {
    border-radius: 7px;
}

button {
    width: 128px;
    height: 32px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: #e4e4e4;
    transition-duration: 0.3s;
    overflow-y : auto;
}

button.start {
    border: 3px solid #25c525;
}

button.stop {
    border: 2px solid #f32727;
}

button.logout {
    border: 2px solid #1a73f5;
}

.cycleView {
    width: 480px;
    border: 2px solid grey;
    height: 300px;
    overflow: auto;
    background: rgba(211, 211, 211, 0.16);
    color: rgb(228, 228, 228);
}

.cycleView tr td{
    padding-left: 5px;
    padding-top: 2px;
    border-spacing: 0;
    color: rgb(228, 228, 228);
}

.send {
    float: right;
    border: 3px solid grey;
    border-radius: 5px;
    color: black;
    background: lightgray;
    cursor: pointer;
    width: 50px;
    padding: 0;
}

.options {
    border-spacing: 0 5px;
}

.options tr td{
    margin-top: 10px;
    vertical-align: top;
    text-align: left;
}

.options table{
    border-left: 7px solid grey;
    border-spacing: 0 5px;
}


.chatInput, .consoleInput {
    width: 420px;
}

#autoscroll {
    text-align: center;
}

/* Style the tab */
.tab {
    width: -moz-fit-content;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgba(241, 241, 241, 0.2);
    text-align: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    width: initial;
    height: initial;
    background-color: inherit;
    float: left;
    border: none;
    border-radius: initial;
    color: initial;
    transition-duration: initial;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0;
}
