body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(16, 16, 26);
    color: black;
    font-family: "Ubuntu", serif;
}

.main_table td{
    padding: 25px;
    display: inline-flex;
    vertical-align: top;
    /*border: 1px solid red;*/
}

.login tr td {
    display: table-cell;
    padding: 2px;
}

h1, a, pre, .login {
    margin: 0;
    color: rgb(228, 228, 228);
}

input {
    border-radius: 7px;
}

button {
    width: 128px;
    height: 32px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: #e4e4e4;
    transition-duration: 0.3s;
}

button.login {
    border: 3px solid #25c525;
}