{
  "example": {
    "password": "example",
    "sessions": [
      {
        "config": {
          "server": {
            "ip": "example.net",
            "port": 25565
          },
          "timeout": 20000
        },
        "secrets": {
          "username":"example",
          "password":"example"
        }
      }
    ]
  }
}
